.navigation{
    width: 100vw;
    height: 65px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8309917717086834) 12%, rgba(0,0,0,0.19793855042016806) 100%);    
    display: flex;
    justify-content: space-around;
    .leftSide{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        .logoImg{
            height: 65px;
            width: 120px;
            height: auto;
            object-fit: cover;
        }
        .btns{
            width: fit-content;
            background-color: transparent;
            border: none;
            color: rgba(225,225,225,1);
            font-size: 15px;
            font-weight: 300;
            &:hover{
                cursor: pointer;
                color: white;
            }
        }
    }
    .rightSide{
        width: 30%;
        display: flex;
        justify-content: end;
        align-items: center;
        i{
            font-size: 25px;
            color: rgba(225,225,225,1);
            &:hover{
                cursor: pointer;
                color: white;
            }
        }
    }
}

